.bt1 {
    /* position: absolute;
    left: 0% !important;
    width: 6% !important;
    top: 5.5% !important; */
}

.bt2 {
    /* position: absolute;
    left: 6% !important;
    width: 6% !important;
    top: 5.5% !important; */
}