

.TransformComponent-module_content__TZU5O {
    height: 100% !important;
    width: 100% !important;
    overflow: auto !important
}

.TransformComponent-module_container__3NwNd {
    width: 100% !important;
    height: 90% !important
}

.zoomBtIn{

    background-color: blanchedalmond;
    position: absolute;
    left: 5% !important;
    top: 9% !important;
    width:5% !important

}
.zoomBtOut{

    background-color: blanchedalmond;
    position: absolute;
    left: 11% !important;
    top: 9% !important;
    width:5% !important
    
}